.logo {
  display: flex;
  padding: 0px 10px;
  position: relative;
  align-items: center;
  font-size: 40px;
  border-bottom: 7px dotted red;
  .icon {
    position: absolute;
    bottom: -40px;
    right: -20px;
  }
}
