.profile {
  width: 800px;
  border: 1px solid red;

  .additional-info {
    display: flex;
    p {
      font-size: 12px;
      margin-bottom: 10px;
      color: red;
    }
  }
  section {
    h3 {
      background: blue;
      text-transform: uppercase;
    }
    .input-group {
      display: flex;
      flex-direction: column;
      input {
        width: 140px;
      }
    }
  }
}
